.products {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.products-card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: solid 3px aliceblue;
  box-shadow: 5px 2px 2px black;
  margin: 10px auto;
}

.card-cover {
}

.card-cover figure {
  margin: 5px 8px;
}

.card-cover figure img {
  width: 100%;
}

.card-title {
  margin: 0px 5px;
}
.card-description {
  margin: 10px 5px;
}

.card-button {
  font-size: 1em;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.4em;
  cursor: pointer;
  width: 7em;
  margin: 0px 5px;
}
 
    
